<div class="card">
    <div class="card-header d-flex justify-content-between">
        <span *ngIf="title">{{title}}</span>
        <app-list-ico [ico]="ico" (action)="icoAction($event)"></app-list-ico>
        <ng-content select="[header]"></ng-content>
    </div>
    <div class="card-body">
        <ng-content></ng-content>
    </div>
</div>
