<div *ngIf="users; else loading">
    <input type="text" class="form-control" [(ngModel)]="search">
    <div class="list-group">
        <div
                class="list-group-item"
                style="cursor: pointer"
                (click)="setUser(user)"
                *ngFor="let user of users | filterArray:search:['name', 'username', 'email']">
            <app-element-list label="Nome" [value]="user.name"></app-element-list>
            <app-element-list label="Username" [value]="user.username"></app-element-list>
            <app-element-list label="E-mail" [value]="user.email"></app-element-list>
        </div>
    </div>
</div>

<ng-template #loading>
    <div>Caricamento in corso</div>
</ng-template>
