<div class="row" *ngIf="user">
    <app-custom-card title="Mappa" class="col-sm-4">
        <app-address-info *ngIf="user.address" [address]="user.address"></app-address-info>
    </app-custom-card>
    <app-custom-card title="Info" class="col-sm-4">
        <app-general-info [user]="user"></app-general-info>
    </app-custom-card>
    <app-custom-card title="Profilo" class="col-sm-4">
        <app-profile-info [user]="user"></app-profile-info>
    </app-custom-card>
    <app-custom-card title="Meteo" class="col-lg-6">
        <app-weather city="Rome"></app-weather>
    </app-custom-card>
</div>


<pre>{{user | json}}</pre>
