<app-custom-card title="La tua stazione meteo">
    <form #f="ngForm" (ngSubmit)="setCity(f)">
        <div class="form-group">
            <label>Scegli la tua città</label>
            <input required minlength="2" [ngModel]="city" name="city" type="text" class="form-control">
            <button class="btn btn-primary">Cerca</button>
        </div>
    </form>


    <div>
        <app-weather *ngIf="city" [city]="city" [test]="test"></app-weather>
    </div>
</app-custom-card>
