<h1 (click)="setGender()">{{getTitle()}}</h1>
<div>La somma di {{number1}} + {{number2}} è {{number1+number2}}</div>
<div>
    Sesso: {{gender === 'F'? 'Donna' : 'Uomo'}}

</div>
<div>
    Si tratta di un oggetto? {{objectUtils.isObject({}) ? 'SI' : 'NO'}}
</div>
<input type="text" name="title" [(ngModel)]="title">
