<div class="form-group d-flex align-items-center" *ngIf="element">
    <label>{{element.key}}</label>
    <input type="text" class="form-control" (keyup)="ch.emit(element)" [(ngModel)]="element.value">
    <i class="fa fa-trash" (click)="removeStyle()"></i>
</div>
