<app-nav
        [userLogged]="userLogged"
        [voices]="voicesMenu"
        (selected)="setSelectedView($event)"></app-nav>
<div [ngClass]="container" [ngSwitch]="selectedView">
    <app-home
            *ngSwitchCase="'home'"
    ></app-home>

    <app-shopping-list
            *ngSwitchCase="'shopping'"
    ></app-shopping-list>

    <app-image-category
            *ngSwitchCase="'category'"
    ></app-image-category>

    <app-pipe-view *ngSwitchCase="'pipe'">

    </app-pipe-view>

    <app-users *ngSwitchCase="'users'" (containerFluid)="setContainer($event)"></app-users>

    <app-weather-page *ngSwitchCase="'weather'"></app-weather-page>

    <app-dynamic-style *ngSwitchCase="'dynamic'"></app-dynamic-style>
</div>



<app-footer></app-footer>
