:host > div{
  display: flex;
  background-color: gray;
  border-radius: 10px;
  align-items: center;
  div:nth-child(2){
    flex-basis: 60%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
