<div *ngIf="categories; else loading">
    <div class="list-group">
        <button
                class="list-group-item btn list-group-item-primary"
                *ngFor="let category of categories; let i=index; let o = odd;
                 let e = even; let l= last; let f= first"
                [disabled]="category.category === selectedCategory"
                style="cursor: pointer"
                (click)="setUrl(category)"
        >
            {{category.label}}
            <span *ngIf="e">Pari</span>
            <span *ngIf="o">Dispari</span>
            <span *ngIf="l">Ultima riga</span>
            <span *ngIf="f">Prima riga</span>
        </button>
    </div>
    <div class="img">
        <img [src]="getUrl()" alt="">
    </div>
</div>
<ng-template #loading>Caricamento in corso</ng-template>
