<iframe width="100%" height="350px" frameborder="0" scrolling="no"
        marginheight="0" marginwidth="0"
        [src]="getUrl()"
></iframe>
<app-info-custom [data]="{label: 'Città', value: address.city}"> </app-info-custom>
<app-info-custom [data]="{label: 'Indirizzo', value: address.street}"> </app-info-custom>
<app-info-custom [data]="{label: 'CAP', value: address.zipcode}"> </app-info-custom>
