<app-custom-card
        [title]="getTitleCard()"
        [ico]="selectedUser? listIcon : undefined"
        (action)="actionIco($event)"
>
    <app-list-users
            *ngIf="!selectedUser"
            [users]="users"
            (select)="setUser($event)"
    >
    </app-list-users>

    <app-user-details [user]="selectedUser"
                      *ngIf="selectedUser"
    >
    </app-user-details>

</app-custom-card>
