/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap";

@import "~font-awesome/css/font-awesome.css";

body{
  margin-bottom: 70px;
}

.pointer{
  cursor: pointer;
}
