<div>
    <p (click)="openCard = !openCard">{{openCard ? 'Chiudi' : 'Mostra'}}</p>
</div>
<div *ngIf="openCard">
    <h1>Lista della spesa</h1>
    <input type="text" [(ngModel)]="search">
    <ul>
        <ng-container *ngFor="let el of list |filterArray:search">
            <li class="d-flex justify-content-between p-2">
                <span>{{el}}</span>
                <span>
                    <i class="fa fa-trash"
                       (click)="removeElement(el)">
                    </i>
                </span>
            </li>
        </ng-container>

    </ul>
    <input type="text" class="form-control"
           (keyup.enter)="addElement($event)"
           placeholder="Aggiungi elemento"
    >
</div>
